<!-- views/index.ejs -->
<h1>Blog Posts</h1>
<ul>
    <% posts.forEach(post => { %>
        <li><h2><%= post.title %></h2></li>
        <p><%= post.content %></p>
        <small><%= post.author %> - <%= post.createdAt.toDateString() %></small>
    <% }) %>
</ul>
