
body {
    font-family: Arial, sans-serif;
    background-color: #61c1f1;
    color: #333;
    line-height: 1.6;
}


.container {
    width: 40%; /* Set the width of the container */
    max-width: 800px; /* Optional: Set a maximum width */
    margin: 100 auto; /* Center the container horizontally */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 76, 135, 0.659);
}


h1 {
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin: 10px 0 5px;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #0088ff;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;  /* Make the input and textarea full width of the form */
    box-sizing: border-box;  /* Include padding in the width calculation */
}

input[type="text"] {
    max-width: 100%;
}

textarea {
    min-height: 100px; /* Minimum height for textarea */
}

button {
    background-color: #00a2ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0084d1;
}